In [ ]:
#Finding the greatest between 3 numbers.

a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
c = int(input("Enter another number: "))

if a > b and c:
  print(a, "is greater than", b ,"and", c)

elif b > c and a:
  print(b, "is greater than", a ,"and", c)

elif c > a and b:
  print(c, "is greater than", a ,"and", b)

else:
  print("all are equal")

Enter a number: 5
Enter another number: 4
Enter another number: 3
5 is greater than 4 and 3

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#printing first 20 numbers
x = 0
for x in range(0,20):
  x = x+1
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#taking name and age from user and printing it

nam = input("What is your name?: ")
age = int(input("What is your age?: "))
nam = nam.lower()
print("hello", nam , "your age is", age)

What is your name?: Parth Khatkar
What is your age?: 14
hello parth khatkar your age is 14

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Converting Farehneit to degree Celsius

x = int(input("Enter temperature in F: "))
y = 5/9*(x-32)
print("Temperature in C is", y)

Enter temperature in F: 45
Temperature in C is 7.222222222222222

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Km to Miles convertion

x = float(input("Enter value in kms: "))
y = x* 0.621371
print("Value in miles is", y)

Enter value in kms: 67
Value in miles is 41.631857000000004

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Reversing list elements

l = [2,4,7,9,4]
l.sort()
print(l)
l.reverse()
print(l)

[2, 4, 4, 7, 9]
[9, 7, 4, 4, 2]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# printing total marks by taking individual marks input

name = input("Enter a name: ")
eng = float(input("Enter marks scored in english: "))
math = float(input("Enter marks scored in maths: "))
sci = float(input("Enter marks scored in science: "))
tot = eng+math+sci
print("total marks scored is ", tot)

Enter a name: Parth khatkar
Enter marks scored in english: 90
Enter marks scored in maths: 56
Enter marks scored in science: 89
total marks scored is  235.0

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Identifying positive and negative numbers


num = float(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("zero")
  else:
      print("positive number ")
else:
  print("negative number")

Enter a number: 80
positive number

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Calculating simple interest

p = int(input("Enter principal amount (₹): "))
r = int(input("Enter rate of interest (%): "))
t = int(input("Enter time period (years): "))

si = (p*r*t)/100
print(si)

Enter principal amount (₹): 5000
Enter rate of interest (%): 10
Enter time period (years): 2
1000.0

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Classifying Prime and non prime numbers

num = int(input("Enter a number: "))

if num > 1:
  for i in range(2,num):
    if (num % i) == 0:
      print("number is not a prime number")
      break
    else:
      print("It is a prime number")
      break

Enter a number: 56
number is not a prime number

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Simple calculator using functions

def add(a,b):
  c = a+b
  return c

def sub(a,b):
  c = a-b
  return c

def div(a,b):
  c = a/b
  return c

def pro(a,b):
  c = a*b
  return c
a = float(input("Enter a number: "))
b = float(input("Enter another number: "))
print("1. add")
print("2. subtract")
print("3. multiply")
print("4. divide")

x = input("Enter choice of arithmetic operation: ")

x = x.lower()

if x == "1."or x == "1" or x == "add":
  print(add(a,b))
elif x == "2."or x == "2" or x == "subtract":
  print(sub(a,b))
elif x == "3." or x == "3" or x == "multiply":
  print(pro(a,b))
elif x == "4." or x == "4" or x == "divide":
  print(div(a,b))
else:
  print("Invalid Input")

Enter a number: 29
Enter another number: 56
1. add
2. subtract
3. multiply
4. divide
Enter choice of arithmetic operation: 2
-27.0

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Verifying if first and last elements of a list are same

a = [1,2,3,4,5,6,7,8,9]
b = len(a)
b = b-1
d = a[b]
c = a[0]
if c == d:
  print("True")
else:
  print("False")

False

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking input from user and finding area or perimeter of a circle

r = float(input("Enter radius of the circle: "))
q = input("You want area or perimeter? (area/perimeter): ")
q = q.lower()

ar = 3.14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706798214808651328230664709384460955058223172535940812848111745028410270193852110555964462294895493038196442881097566593344612847564823378678316527120190914564856692346034861045432664821339360726024914127372458700660631558817488152092096282925409171536436789259036001133053054882046652138414695194151160943305727036575959195309218611738193261179310511854807446237996274956735188575272489122793818301194912440656643086021394946395224737190702179860943702770539217176293176752384674818467669405132000568127145263560827785771342736371787214684409012249534301465495853710507922796892589235420199561121290219608640344181598136297747713099605187072113499999983729780499510597317328160963185950244594553469083026425223082533446850352619311881710100031378387528865875332083814206171776691473035982534904287554687311595628638823537875937519577818577805321712268066130019278766111959092164201989 * r*r
pe = 2 * 3.14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706798214808651328230664709384460955058223172535940812848111745028410270193852110555964462294895493038196442881097566593344612847564823378678316527120190914564856692346034861045432664821339360726024914127372458700660631558817488152092096282925409171536436789259036001133053054882046652138414695194151160943305727036575959195309218611738193261179310511854807446237996274956735188575272489122793818301194912440656643086021394946395224737190702179860943702770539217176293176752384674818467669405132000568127145263560827785771342736371787214684409012249534301465495853710507922796892589235420199561121290219608640344181598136297747713099605187072113499999983729780499510597317328160963185950244594553469083026425223082533446850352619311881710100031378387528865875332083814206171776691473035982534904287554687311595628638823537875937519577818577805321712268066130019278766111959092164201989 * r

if "area" in q:
  print("Area of circle is: ",ar)
elif "perimeter" in q:
  print("Perimeter of area is: ",pe)
else:
  print("Invalid Input")

Enter radius of the circle: 80
You want area or perimeter? (area/perimeter): area
Area of circle is:  20106.192982974677

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Finding area of a triangle by taking measurements from the user

b = float(input("Enter base value: "))
h = float(input("Enter height value: "))

ar = 0.5 * b * h
print("Area of triangle is: ",ar)

Enter base value: 50
Enter height value: 40
Area of triangle is:  1000.0

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Adding/Appending an element to a list

a = [1,2,3,4,5,6,7,8,9]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Register for a driving license (checking the age)
n = True
while n == True:
  b = input("Enter your name: ")
  c = int(input("Enter your age: "))
  d = int(input("Enter your class: "))

  a = {'Name': b, 'Age': c, 'Class': d}
  print("Your information is:", a)
  i = input("Is the information correct? (y/n): ")
  i = i.lower()
  if i == "y":
    x = a.get('Age')
    if x >= 18:
       print("You can get a driving license")
    elif x < 18:
        print("You cannot get a driving license")
    else:
      print("Invalid Input")
    n = False
  elif i == "n":
    r = input("Do you want to fill the information again? (y/n): ")
    r = r.lower()
    if r == "y":
      n = True
    elif r == "n":
      n = False
    else:
      print("Invalid Input")
  else:
    print("invalid input")

Enter your name: Parth
Enter your age: 34
Enter your class: 9
Your information is: {'Name': 'Parth', 'Age': 34, 'Class': 9}
Is the information correct? (y/n): y
You can get a driving license

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking value of pi from numpy library and finding perimeter/area

import numpy as np

r = float(input("Enter radius of the circle: "))
q = input("You want area or perimeter? (area/perimeter): ")
q = q.lower()

ar = np.pi * r*r
pe = 2 * np.pi * r

if "area" in q:
  print("Area of circle is: ",ar)
elif "perimeter" in q:
  print("Perimeter of area is: ",pe)

Enter radius of the circle: 90
You want area or perimeter? (area/perimeter): perimeter
Perimeter of area is:  565.4866776461628

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking out the electric bill by taking the number of units from the user

u = float(input("Enter Number of units: "))
a = u-100
b = u-200
if u <= 100:
  print("No charge")
elif u <= 200:
  print("Your bill is rupees ", a*5)
elif u > 200 :
  print("Your bill is rupees ",(100*5)+(b*10))
else:
    print("Invalid Input")

Enter Number of units: 50
No charge

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking input from user and finding if its a leap year or not

y = int(input("Enter number of years: "))

if y % 4 == 0:
  print("It is a leap year")
elif y % 4 != 0:
  print("It is not a leap year")
else:
  print("Invalid Input")

Enter number of years: 2022
It is not a leap year

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Check if a number is divisble by 5 (if so adding 5) or not(if so subtracting 2)

a = int(input("Enter a number: "))

if a % 5 == 0:
  c = a+5
  print(a,"is divisible by 5")
  print(c)
elif a % 5 != 0:
  b = a-2
  print(a,"is not divisible by 5")
  print(b)
else:
  print("Invalid Input")

Enter a number: 54
54 is not divisible by 5
52

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking input and checking if its a vowel or not

a = input("Enter a character: ")
a = a.lower()

if a == "a" or a == "e" or a =="i" or a=="o" or a=="u":
  print("It is a vowel")
else:
  print("It is not a vowel")

Enter a character: g
It is not a vowel

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Factorial of n number of numbers

a = int(input("Enter factorial number: "))
if a <0:
  a = abs(a)
fac = 1
for x in range(1,a+1):
      fac = fac * x
print(fac)

Enter factorial number: 8
40320

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Sum of odd numbers in a series of n consecutive numbers

a = int(input("Enter the limit for sum: "))
sum = 0
for x in range(1,a+1,2):
  sum = sum + x
print("Sum of odd numbers till",a,"is",sum)

Enter the limit for sum: 10
Sum of odd numbers till 10 is 25

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Sum of even numbers in a series of n consecutive numbers


a = int(input("Enter the limit for sum: "))
sum = 0
for x in range(0,a+1,2):
  sum = sum + x
print("Sum of even numbers till",a,"is",sum)

Enter the limit for sum: 5
Sum of even numbers till 5 is 6

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Series of even numbers

a = int(input("Limit of series: "))
for x in range(0,a+1,2):
  print(x)

Limit of series: 20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#Series of odd numbers


a = int(input("Limit of series: "))
for x in range(1,a+1,2):
  print(x)

Limit of series: 20
1
3
5
7
9
11
13
15
17
19

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#printing a given calculation

a = int(input("Enter a number: "))
b  = int(input("Enter another number: "))
c = a**(1/2)
d = c + (a+2)/b

print(d)

Enter a number: 5
Enter another number: 8
3.11106797749979

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing quotient and remainder

a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
r = a%b
q = a/b
print("Remainder is",r)
print("Quotient is",q)

Enter a number: 10
Enter another number: 5
Remainder is 0
Quotient is 2.0

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Checking bag weight and additional charge

a = float(input("Enter weight of baggage: "))

if a > 50:
  print("There is an additional charge of 250 rupees")
else:
  print("Invalid Input")

Enter weight of baggage: 450
There is an additional charge of 250 rupees

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing first 10 multiples of a number

a = int(input("Enter a number: "))
mul = 1
for x in range(1,11):
  mul = a*x
  print(mul)

Enter a number: 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing first 10 multiples of 5 in a list

a = []
mul = 1
for x in range(1,11):
  mul = 5*x
  a.append(mul)
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Print last two elements
#• Print elements from last to first item in reverse order
#• Print elements from ‘red’ till end
#• Print elements from ‘pink’ to ‘yellow’ in reverse order

colors = ["green",'yellow’',"red","white","black","pink","blue"]
a = len(colors)
a = a-1
print(colors[a],"," , colors[a-1])

blue , pink

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Practice queestions for while loop

x = 2
while(x<=4):
  print(x)
  x=x+1

#----------------------------------------------------------------

a = 8
while(a > 2):
  print(a)
  a = a-3

#----------------------------------------------------------------

num = 3
count = 4
while(count >= 1):
  print(count,num*count)
  count = count-1

2
3
4
8
5
4 12
3 9
2 6
1 3

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#'n' factorial using while loop

n = int(input("Enter number: "))
fac = 1
i = 1
while(i<=n):
  fac = fac*i
  i = i+1
print(fac)

Enter number: 4
24

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Sum of first 'n' natural numbers using while loop

a = int(input("Enter the limit: "))
sum = 0
x = 0
while x<=a:
  sum = sum+x
  x = x+1
print(sum)

Enter the limit: 50
1275

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Sum of first 10 evven numbers using while loop

sum = 0
x = 2
while x<=20:
  sum = sum+x
  x = x+2
print(sum)

110

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Fibonacci sequence

num = int(input("Enter the range = "))
n1,n2 = 0,1
print(n1,n2,end="  ")
for i in range(2,num):
  n3 = n1+n2
  n1 = n2
  n2 = n3
  print(n3, end="  ")

Enter the range = 10
0 1  1  2  3  5  8  13  21  34

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing list elements using index values

list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1,2,3,4,5,6,7]

print("list1[0]", list1[0])
print("list2[1:5]", list2[1:5])

list1[0] physics
list2[1:5] [2, 3, 4, 5]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Iterating and printing list values using loops and then printing the reverse of the list


a = [1,2,3,4,5,6,7,8,9]
b = []
c = len(a) - 1
for x in a:
  print(x)
  b.append(a[c])
  c = c-1
print(b)

1
2
3
4
5
6
7
8
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Slicing methods

a = [4,6,8,9,12,23]

#printing from beginning to a range
print(a[:3])

#printing from beginning to a specific index using negative index
print(a[:-2])

#printing from specific index till end
print(a[1:])

#printing from a range
print(a[2:5])

#printing the whole list
print(a[:])

#printing the whole list in reverse order
print(a[::-1])

#negatve indexing
print(a[-1])

[4, 6, 8]
[4, 6, 8, 9]
[6, 8, 9, 12, 23]
[8, 9, 12]
[4, 6, 8, 9, 12, 23]
[23, 12, 9, 8, 6, 4]
23

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Practice Questions

a = ["g","t","y","s","c","y","j","l","a"]

print(a[4:8])
print(a[8:4:-1])
print(a[3:])
print(a[6:1:-1])

['c', 'y', 'j', 'l']
['a', 'l', 'j', 'y']
['s', 'c', 'y', 'j', 'l', 'a']
['j', 'y', 'c', 's', 'y']

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Functions to add elements in a list

a = [1,2,3,4,5,6,7,8,9]

a.append(10)
a.extend([12,13])
a.insert(10,11)
print(a)

#With string
b = ["a","b","c","d","e"]

b.append("f")
b.extend(["h","i"])
b.insert(6,"g")
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#List concatination

fn = ["parth","pari","ronit"]
ln = ["kaushik","sahni","khatkar"]

for i in range(0,3):
  print(fn[i],ln[i])

parth kaushik
pari sahni
ronit khatkar

In [ ]:
#Printing double the value of even numbers and triple the value of odd numbers

x = []
for i in range(0,5):
  a = int(input("Enter a number: "))
  x.append(a)
for i in range(0,5):
  if x[i] % 2 == 0:
    print(x[i]*2)
  else:
    print(x[i]*3)

Enter a number: 1
Enter a number: 5
Enter a number: 7
Enter a number: 3
Enter a number: 8
3
15
21
9
16

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing squares of numbers from 2-50 in a list

x = []

for i in range(2,51,2):
  a = i**2
  x.append(a)
print(x)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Printing first five multiples of five

x = []
for i in range(5,26,5):
  x.append(i)
print(x)

[5, 10, 15, 20, 25]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking house names in a list and checking if my house is there

l = []
for i in range(0,6):
  x = input("Enter house: ")
  l.append(x)
print(l)
for a in range(0,6):
  if l[a] == "jhelum":
    print(l[a])
    break

Enter house: jamuna
Enter house: jhelum
Enter house: ravi
Enter house: satluj
Enter house: ganges
Enter house: chenab
['jamuna', 'jhelum', 'ravi', 'satluj', 'ganges', 'chenab']
jhelum

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
 """Write a program to:
• Print last two elements
• Print elements from last to first item in reverse order
• Print elements from ‘red’ till end
• Print elements from ‘pink’ to ‘yellow’ in reverse order"""

 col = ["greens","yellow","red","white","pink","blue"]
 print(col[-1:-3:-1])
 print(col[-1::-3])
 print(col[2:])
 print(col[-2:-7:-1])

['blue', 'pink']
['blue', 'red']
['red', 'white', 'pink', 'blue']
['pink', 'white', 'red', 'yellow', 'greens']

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking 5 numbers in a list as input, printing their sum and adding a value in between using append() function

a = []
s = 0
for i in range(0,5,1):
  n = int(input("Enter a number: "))
  a.append(n)
print(a)

for i in range(0,5,1):
  s = s+a[i]
print("Sum =", s)
a.insert(4,10)
print(a)

Enter a number: 50
Enter a number: 40
Enter a number: 30
Enter a number: 20
Enter a number: 0
[50, 40, 30, 20, 0]
Sum = 140
[50, 40, 30, 20, 10, 0]

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Taking 10 numbers as input and displaying “Hello” if the number is even otherwise displaying the number

a = []

for i in range(0,10):
  n = int(input("Enter a number: "))
  a.append(n)
print(a)
for i in range(0,10):
  if a[i]%2 == 0:
    print("Hello")
    break
  else:
    print(a[i])

Enter a number: 3
Enter a number: 4
Enter a number: 6
Enter a number: 9
Enter a number: 13
Enter a number: 35
Enter a number: 67
Enter a number: 90
Enter a number: 89
Enter a number: 68
[3, 4, 6, 9, 13, 35, 67, 90, 89, 68]
3
Hello

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# ---------------------------------------------------------------------------------------------------------------------------------------------------------